<footer class="footer">
  <span class="todo-count">
    <strong>{{ count }}</strong> item(s) left
  </span>

  <ul class="filters">
    <li>
      <a href="#/" [class.selected]="filter === 'all'" (click)="onShowAll()">All</a>
    </li>
    <li>
      <a href="#/active" [class.selected]="filter === 'active'" (click)="onShowActive()">Active</a>
    </li>
    <li>
      <a href="#/completed" [class.selected]="filter === 'completed'" (click)="onShowCompleted()">Completed</a>
    </li>
  </ul>

  <button 
    class="clear-completed" 
    (click)="onClearCompleted()">
    Clear completed
  </button>
</footer>
