<section class="todoapp">
  <app-todo-header></app-todo-header>
  <ul app-todo-list class="todo-list">
    <li app-todo-item *ngFor="let todo of todos$ | async" [todo]="todo" (toggle)="onItemCheck(todo, $event)"></li>
  </ul>
  <app-todo-footer></app-todo-footer>
</section>



<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input 
      #todo
      type="text"
      class="new-todo" 
      placeholder="What needs to be done?" 
      autofocus="" 
      (keyup.enter)="onAddItem(todo.value)">
  </header>

  <section class="main" style="display: block">
    <input 
      id="toggle-all" 
      class="toggle-all" 
      type="checkbox">
    <label for="toggle-all">
      Mark all as complete
    </label>

    <ul class="todo-list">
      <li *ngFor="let todo of todos$ | async" [class.completed]="todo.completed">
        <div class="view">
          <input 
            #checkbox 
            class="toggle"
            type="checkbox" 
            [attr.checked]="todo.completed || null"
            (click)="onItemCheck(todo, checkbox.checked)">
            <label>{{ todo.name }}</label>
           <button class="destroy" (click)="onRemoveItem(todo)"></button>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer">
    <span class="todo-count">
      <strong>{{ incompletedTodosCount$ | async }}</strong> item(s) left
    </span>

    <ul class="filters">
      <li>
        <a href="#/" class="selected" (click)="onShowAll()">All</a>
      </li>
      <li>
        <a href="#/active" (click)="onShowIncompleted()">Active</a>
      </li>
      <li>
        <a href="#/completed" (click)="onShowCompleted()">Completed</a>
      </li>
    </ul>

    <button 
      class="clear-completed" 
      (click)="onRemoveCompleted()">
      Clear completed
    </button>
  </footer>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="mailto:piotr-andrzej.nowak@ext.ec.europa.eu">Piotr Nowak</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

<!-- <section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input 
      class="new-todo" 
      placeholder="What needs to be done?" 
      autofocus="" 
      [(ngModel)]="newTodoText"
      (keyup.enter)="addTodo()">
  </header>

  <section class="main" *ngIf="todoStore.todos.length > 0">
    <input 
      *ngIf="todoStore.todos.length" 
      #toggleall
      id="toggle-all" 
      class="toggle-all" 
      type="checkbox" 
      [checked]="todoStore.allCompleted()" 
      (click)="todoStore.setAllTo(toggleall.checked)">

    <ul class="todo-list">
      <li 
        *ngFor="#todo of todoStore.todos" 
        [class.completed]="todo.completed" 
        [class.editing]="todo.editing">

        <div class="view">
          <input 
            class="toggle" 
            type="checkbox" 
            [checked]="todo.completed"
            (click)="toggleCompletion(todo)">

          <label (dblclick)="editTodo(todo)">{{todo.title}}</label>

          <button class="destroy" (click)="remove(todo)"></button>
        </div>

        <input 
          *ngIf="todo.editing" 
          #editedtodo
          class="edit" 
          [value]="todo.title" 
          (blur)="stopEditing(todo, editedtodo.value)" 
          (keyup.enter)="updateEditingTodo(todo, editedtodo.value)"
          (keyup.escape)="cancelEditingTodo(todo)">
      </li>
    </ul>
  </section>

  <footer *ngIf="todoStore.todos.length > 0" class="footer">
    <span class="todo-count">
      <strong>{{todoStore.getRemaining().length}}</strong>
      {{todoStore.getRemaining().length == 1 ? 'item' : 'items'}} left
    </span>

    <button 
      *ngIf="todoStore.getCompleted().length > 0" 
      class="clear-completed" 
      (click)="removeCompleted()">
      Clear completed
    </button>
  </footer>
</section> -->